<!-- <aside class="collapse" id="aside"> -->
<aside>
    <div class="card card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio libero ipsum quo tempora tempore quaerat. Quod a fugiat illum, sapiente itaque voluptates recusandae maiores placeat dolorem perspiciatis quam enim aperiam quaerat culpa fugit facilis sit ipsam. Aliquam vero adipisci voluptatem ipsam incidunt velit sint vitae hic animi aperiam. Pariatur voluptatibus perferendis libero aperiam molestias atque harum eos at consequuntur deserunt facilis saepe modi expedita doloremque iure commodi maiores dolorem corrupti, eius veritatis ipsa soluta, consectetur provident odio. Officia ut itaque odio commodi blanditiis incidunt nostrum quam recusandae, facilis debitis saepe laudantium natus in pariatur quasi eveniet. Quasi possimus eveniet qui.
    </div>
</aside>